name: Build OpenJDK Mobile for macOS

on:
  workflow_call:

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: 'Install toolchain and dependencies'
        run: |
          # Run Homebrew installation and xcode-select
          brew install autoconf make
          sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer
          # This will make GNU make available as 'make' and not only as 'gmake' 
          echo '/usr/local/opt/make/libexec/gnubin' >> $GITHUB_PATH

      - name: Checkout builder repo
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Patch and build OpenJDK Mobile sources
        run: |
          git clone https://github.com/openjdk/mobile.git
          cd mobile
          
          # optionally checkout a specific branch or tag
          git checkout master
          
          # temporary patch
          git apply ../.github/patches/44.diff
          
          bash configure \
            --with-conf-name=macos-aarch64 \
            --with-boot-jdk=$JAVA_HOME \
            --disable-warnings-as-errors
          make LOG=cmdlines,info CONF=macos-aarch64 jdk-image

      - name: Upload macOS JDK
        uses: actions/upload-artifact@v4
        with:
          name: macos-jdk
          path: |
            mobile/build/macos-aarch64/images/jdk
